.container {
    position:fixed;
    height:60px;
    width:98vw;
    bottom: 25px;
}

.contentContainer {
    height: 100%;
    width: 100%;
    position: relative;
}

.overlay {
    position:absolute;
    border-radius:15px;
    height:60px;
    width:100%;
    opacity: .80;
    backdrop-filter: blur(5px);
    background-color: rgba(17, 17, 20, 0.5);
    text-align: center;
    z-index: 1;
}

.appContainer {
    display:flex;
    position:absolute;
    height:60px;
    width:100%;
    border-radius:15px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    justify-content: center;
    z-index: 2;
    backdrop-filter: blur(5px);
}

.appIcon {
    content:" ";
    height:50px;
    width:50px;
    background-repeat:no-repeat;
    background-size: auto 35px;
    background-position: center;
    margin: 5px 5px;
    border-radius: 5px;
    cursor:pointer;
    transition: .2s ease-out all;
}

.appIcon:active {
    background-size: auto 28px;
    transition: .1s ease-in background-position-y;
}

.appIcon:hover {
    background-color: rgba(39, 39, 39, 0.5);
}

.personalApp {
    background-image: url("https://i.ibb.co/bL3Y0xV/profile-Logo.png");
}

.info {
    background-image: url("https://i.ibb.co/p4RVK6Q/info.png");
}

.systemCenter {
    display: flex;
    flex-direction: row;
    z-index: 2;
    position: absolute;
    right: 0;
    height: 100%;
    vertical-align: middle;
    width: auto;
}

.systemCenter > .time {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: white;
    font-weight: 300;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
    margin: 8px 10px;
    border-radius: 8px;
    justify-content: center;
}

.systemCenter > .time:hover {
    color: rgba(255, 255, 255, 0.699);
    background-color: rgba(39, 39, 39, 0.5);
}
