.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://i.ibb.co/8d9rw7n/Windows-11-Default-Dark-Wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
